*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
# Facebook Key

facebook_authentication.xml
#Google services Key

/google_maps_api.xml

/google-services.json
/captures
.externalNativeBuild
